.row-active {
    color: #ddd;
    font-size: 13px;
    padding: 2px 0 0;
    visibility: hidden;
    margin-top: 25px;
    padding: 6px;
    background-color: #f0f0f0;
}

    .row-active span a {
        justify-content: space-between;
    }

.right {
    float: right;
}

.left {
    float: left;
}

a .hover-underline {
    text-decoration: none;
}

.color-visible {
    color: blue;
}

.color-unvisible {
    color: gray;
}

.icon-text {
    color: #428bca;
    left: -12px;
    position: relative;
    top: 5px;
}

.clear {
    clear: both;
}


#box_details_news .block_timer {
    font: 400 11px arial;
    padding: 5px 0 0;
    white-space: nowrap;
}

.txt_666 {
    color: #666;
}

.navbar-header a {
    margin-left: 8px !important;
    margin-top: 5px !important;
}

.navbar-inverse-bottom {
    padding-bottom: 4px;
    background-color: #d9534f;
    border-color: #eea236;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

    .navbar-inverse .navbar-brand a:hover {
        color: blue;
    }

.container {
    max-width: 100% !important;
}


.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}

.media-left, .media > .pull-left {
    padding-right: 10px;
}

.item-visibility {
    visibility: visible;
}

.item-hidden {
    visibility: hidden;
}

.delete-comment {
    color: red;
    font-weight: lighter;
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.modal-title {
    /*background-color: #337ab7 !important;*/
    /*color: #fff;*/
}
