@model MVCWordDictionary.Models.Comment

<li style="position:relative" onmouseout="comment_mouseout(this);" onmouseover="comment_mouseover(this);" class="list-group-item">
    <div title="Delete comment" class="glyphicon glyphicon-remove delete-comment item-hidden" id="@Model.CommentID"></div>
    <div data-example-id="media-alignment" class="bs-example">
        <div class="media">
            <a class="media-left" href="#">
                <img data-holder-rendered="true" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEyLjUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" style="width: 64px; height: 64px;" data-src="holder.js/64x64" alt="64x64">
            </a>
            <div class="media-body">
                <h5 class="media-heading">Comment as Guest</h5>
                <div>
                    <strong>  @Model.Contents</strong>
                </div>
                <div>
                    <small>
                        @Model.ModifiedDate.Value.ToString("dd/MM/yyyy hh:mm:ss")

                    </small>
                </div>
            </div>
        </div>
    </div>
</li>